<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="testIocDao" class="com.kerry.creator.springframework.dao.TestIocDao"></bean>

    <bean id="testIocService" class="com.kerry.creator.springframework.service.impl.TestIocServiceImpl">
        <!-- <property name="testIocDao" ref="testIocDao" /> --> <!-- setter init -->
        <constructor-arg ref="testIocDao" /> <!-- constructor init -->
    </bean>


</beans>